// |--------------------------------------------------------------------------
// | Structure
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser--os2web-base-tax-site-structure
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser--os2web-base-tax-site-structure-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-teaser--os2web-base-tax-site-structure {
  flex-grow: 1;

  min-height: 250px;

  margin-bottom: $grid-gutter-width;

  .entity-teaser__logo {
    padding-top: 20px;

    img {
      margin: auto;
    }

    + .entity-teaser__heading {
      margin-top: 10px;
    }
  }

  .entity-teaser__heading,
  .entity-teaser__body {
    text-align: center;
  }

  &:hover {

    .entity-teaser__heading__title {
      text-decoration: none;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}