// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$teaser-spacing-top-bottom: 10px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-teaser {
  margin-bottom: floor( ( $grid-gutter-width / 2 ) );
  padding: $teaser-spacing-top-bottom $xs-boxy-spacing-left-right;

  background-color: $body-bg-secondary;
}

.entity-teaser__image {

  img {
    width: 100%;
  }
}

.entity-teaser__date {
  color: $brand-primary;

  text-align: right;

  + .entity-teaser__heading {
    margin-top: 10px;
  }
}

.entity-teaser__heading {

  + .entity-teaser__body {
    margin-top: 15px;
  }
}
.entity-teaser__heading__title {
  margin: 0;

  font-weight: $headings-font-weight-bold;

  color: $brand-primary;

  .entity-teaser:hover & {
    text-decoration: underline;
  }
}

.entity-teaser__body {
  padding-bottom: 20px;
}

.entity-teaser__description {}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .entity-teaser {
    padding: $teaser-spacing-top-bottom $sm-boxy-spacing-left-right;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .entity-teaser {
    padding: $teaser-spacing-top-bottom $md-boxy-spacing-left-right;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .entity-teaser {
    padding: $teaser-spacing-top-bottom $lg-boxy-spacing-left-right;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
