// |--------------------------------------------------------------------------
// | Search results
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .search-results
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-search-result-item-spacing: floor( ( $grid-gutter-width / 2 ) );
$sm-search-result-item-spacing: floor( ( $grid-gutter-width / 2 ) );
$md-search-result-item-spacing: floor( ( $grid-gutter-width / 2 ) );
$lg-search-result-item-spacing: floor( ( $grid-gutter-width / 2 ) );

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin search-results-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

body[class*="page-sog"] {
  .boxy__heading {
    padding: 30px 10px 15px;
    &::after {
      content: "";
      display: none;
    }
    .boxy__heading__title {
      margin: 0;
      font-weight: 700;
      font-size: 25px;
      letter-spacing: 0;
      font-family: inherit;
      line-height: 1.1;
      color: inherit;
    }
  }
  .boxy__body {
    #search-api-page-search-form {
      position: relative;
    }
    .form-type-textfield {
      width: 100%;
      .form-text {
        width: 100%;
        padding-right: 100px;
      }
    }
    .form-submit {
      position: absolute;
      top: 0;
      right: 0;
      color: #33769a;
      &:hover, &:focus {
        color: #00516b;
      }
      &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        height: 30px;
        width: 30px;
        margin-top: -15px;
        margin-right: -15px;
        font-size: 18px;
        content: "";
        color: #fff;
      }
    }
  }
}
.search-results {
  .search-filter-section {
    background-color: #e9e9e9;
    padding: 30px 10px;
    margin: 0 -10px 0;
    .row {
      a.btn {
        background-color: #5e5e5e;
        color: #fff;
        text-align: center;
        padding: 18px 10px;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &::after {
          content: "";
          display: none;
        }
        &:hover {
          background-color: #404040;
        }
      }
      a.active {
        background-color: #33769a;
        &:hover {
          background-color: #33769a;
        }
      }
    }
  }
  .entity-list-advanced {
    border-top: none;
  }
}

.search-performance {
  display: none;
}

.search-api-page-results {
}

.search-results__form {

  .form-inline {

    .control-label {
      display: none;
    }

    .form-submit {
      display: inline-block;

      width: auto;
    }
  }

  .boxy__body {
    padding: 0 !important;
  }
}

.search-results__list {
  .search-api-spellcheck-suggestion {
    display: none;
  }
}

.search-results__list__item {
  &::before {
    content: "";
    height: 30px;
    width: calc(100% + 80px);
    display: block;
    position: relative;
    background: #f4f4f4;
    left: -40px;
  }
  .entity-list-advanced__search-snippet {
    p:nth-of-type(2) {
      color: #33769a;
      margin: 0;
    }
  }
  .entity-list-advanced--search-result {
    margin-bottom: 0;

    border-bottom: 0;
  }

  .search-hl {
    background-color: yellow;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {
  .search-results {
    .search-filter-section {
      a.btn {
        max-width: 100%;
        margin-bottom: 10px;
      }
      .col-12:last-of-type {
        a.btn {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {
  body[class*="page-sog"] {
    .boxy__heading {
      padding: 30px 20px 15px;
      .boxy__heading__title {
        font-size: 3.2rem;
      }
    }
  }
  .search-results {
    .search-filter-section {
      padding: 30px 20px;
      margin: 0 -20px 0;
      .row {
        display: flex;
      }
    }
  }
  .entity-list-advanced--search-result {
    padding: $sm-search-result-item-spacing 0;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {
  body[class*="page-sog"] {
    .boxy__heading {
      padding: 30px 40px 15px;
    }
  }
  .search-results {
    .search-filter-section {
      padding: 30px 40px;
      margin: 0 -40px 0;
    }
  }
  .entity-list-advanced--search-result {
    padding: $md-search-result-item-spacing 0;
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .entity-list-advanced--search-result {
    padding: $lg-search-result-item-spacing 0;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
