// |--------------------------------------------------------------------------
// | Accordion
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin accordion-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.accordion {}

.accordion__heading {
  position: relative;

  margin: 0;
  padding: 10px 20px;

  cursor: hand;
  cursor: pointer;

  user-select: none;

  font-weight: $headings-font-weight-bold;

  background-color: $body-bg-tertiary;

  &:after {
    position: absolute;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 50%;
    right: 20px;

    content: "+";

    margin-top: -13px; // Half the height

    height: 26px;
    width: 26px;

    color: $text-color;
    background-color: #fff;
    border-radius: 100%;
  }

  .open > & {
    color: #fff;
    background-color: $brand-primary;

    &:after {
      content: "-";
    }
  }

  .accordion--not-toggleable > &,
  .accordion--not-toggleable.open > & {

    &:after {
      display: none;
    }
  }
}

.accordion__body {
  display: none;

  padding: 15px 20px;

  border: 1px solid $border-color;
  border-top: 0;

  .open > &,
  .accordion--not-toggleable > & {
    display: block;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
