// |--------------------------------------------------------------------------
// | Button
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .btn
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin btn-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.btn {
  @extend .btn-block;

  position: relative;

  padding-right: floor( ( $padding-large-horizontal * 1.5 ) );

  max-width: 290px;

  text-align: left;

  white-space: normal;
  font-size: 1.6rem;
  &:after {
    @extend .fa;
    position: absolute;

    display: flex;

    justify-content: center;
    align-items: center;

    top: 50%;
    right: 0;

    content: $fa-var-angle-right;

    margin-top: -15px; // Half the height
    padding-right: $padding-large-horizontal;

    height: 30px;

    color: #fff;
  }
}

html[style*="font-size: 10px"] .js-decrease-font-size,
html[style*="font-size: 23px"] .js-increase-font-size
{
  cursor: unset;
  pointer-events: none;
  opacity: 0.6;
  &:hover {
    opacity: 0.6;
  }
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

.btn-default {

  &:after {
    color: $text-color;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
