// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__footer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-layout-footer-top-bottom-padding: 30px;
$sm-layout-footer-top-bottom-padding: 50px;
$md-layout-footer-top-bottom-padding: 60px;
$lg-layout-footer-top-bottom-padding: 80px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin layout__footer-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.layout__footer {
  padding-top: $xs-layout-footer-top-bottom-padding;
  padding-bottom: $xs-layout-footer-top-bottom-padding;

  background-image: url(../images/footer__watermark.png);
  background-position: bottom right;
  background-repeat: no-repeat;

  background-color: $brand-primary;

  &, a, a:hover {
    color: #fff;
  }

  a {
    text-decoration: none;
  }
}

.layout__footer__social-icons {

  .social-icon {
    background-color: #fff;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .layout__footer {
    font-size: $font-size-large;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .layout__footer {
    padding-top: $sm-layout-footer-top-bottom-padding;
    padding-bottom: $sm-layout-footer-top-bottom-padding;
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .layout__footer {
    padding-top: $md-layout-footer-top-bottom-padding;
    padding-bottom: $md-layout-footer-top-bottom-padding;
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .layout__footer {
    padding-top: $lg-layout-footer-top-bottom-padding;
    padding-bottom: $lg-layout-footer-top-bottom-padding;
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
