// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .layout__footer
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-layout-footer-row-spacing: 20px;
$sm-layout-footer-row-spacing: 20px;
$md-layout-footer-row-spacing: 40px;
$lg-layout-footer-row-spacing: 45px;

$xs-layout-footer-top-bottom-padding: 30px;
$sm-layout-footer-top-bottom-padding: 50px;
$md-layout-footer-top-bottom-padding: 60px;
$lg-layout-footer-top-bottom-padding: 80px;

$xs-layout-footer-border-width: 20px;
$sm-layout-footer-border-width: 40px;
$md-layout-footer-border-width: 60px;
$lg-layout-footer-border-width: 70px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin layout__footer-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.layout__footer {
  border-top-width: $xs-layout-footer-border-width;
  border-top-color: $brand-secondary;
  border-top-style: solid;

  background-color: $brand-primary;

  &, a, a:hover {
    color: #fff;
  }

  a {
    text-decoration: none;
  }

  .container {
    margin-top: (0 - $xs-layout-footer-border-width);

    padding-top: ($xs-layout-footer-border-width + $xs-layout-footer-top-bottom-padding);
    padding-bottom: $xs-layout-footer-top-bottom-padding;

    background-image: url(../images/footer__watermark.png);
    background-position: top right;
    background-repeat: no-repeat;
  }
}

.layout__footer__row {

  + .layout__footer__row {
    margin-top: $xs-layout-footer-row-spacing;
  }
}

.layout__footer__navigation {

  .flexy-list {

    > * {
      padding: 0 30px 0 0;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.layout__footer__social-icons {

  .social-icon {
    background-color: #fff;
  }
}

.layout__footer__company-branding {
  font-size: $font-size-base;

  img {
    margin-right: 10px;
  }
}

.layout__footer__company-details {

  .flexy-list {

    > * {
      padding: 0;

      &:after {
        content: "|";

        padding: 0  $flexy-list-item-spacing;
      }

      &:last-child {

        &:after {
          display: none;
        }
      }
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {

  .layout__footer__navigation,
  .layout__footer__company-details {

    .flexy-list {
      flex-direction: column;

      align-items: flex-start;

      > * {

        + * {
          margin-top: 8px;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {

  .layout__footer {
    font-size: $font-size-large;
  }
}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .layout__footer {
    border-top-width: $sm-layout-footer-border-width;

    .container {
      margin-top: (0 - $sm-layout-footer-border-width);

      padding-top: ($sm-layout-footer-border-width + $sm-layout-footer-top-bottom-padding);
      padding-bottom: $sm-layout-footer-top-bottom-padding;
    }
  }

  .layout__footer__row {

    + .layout__footer__row {
      margin-top: $sm-layout-footer-row-spacing;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .layout__footer {
    border-top-width: $md-layout-footer-border-width;

    .container {
      margin-top: (0 - $md-layout-footer-border-width);

      padding-top: ($md-layout-footer-border-width + $md-layout-footer-top-bottom-padding);
      padding-bottom: $md-layout-footer-top-bottom-padding;
    }
  }

  .layout__footer__row {

    + .layout__footer__row {
      margin-top: $md-layout-footer-row-spacing;
    }
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .layout__footer {
    border-top-width: $lg-layout-footer-border-width;

    .container {
      margin-top: (0 - $lg-layout-footer-border-width);

      padding-top: ($lg-layout-footer-border-width + $lg-layout-footer-top-bottom-padding);
      padding-bottom: $lg-layout-footer-top-bottom-padding;
    }
  }

  .layout__footer__row {

    + .layout__footer__row {
      margin-top: $lg-layout-footer-row-spacing;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
