// |--------------------------------------------------------------------------
// | Full width - light/dark/light/dark
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .panels-layout--full-width-light-dark-light
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin panels-layout-full-width-light-dark-light-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.panels-layout--full-width-light-dark-light {

  .panel-separator {
    height: $xs-sectioned-inner-spacing;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .panels-layout--full-width-light-dark-light {

    .panel-separator {
      height: $sm-sectioned-inner-spacing;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {

  .panels-layout--full-width-light-dark-light {

    .panel-separator {
      height: $md-sectioned-inner-spacing;
    }

    &.panels-display--sitestruktur-niveau-1 {

      .sectioned--light--no-1 {
        background-image: url('../images/watermark.png');
        background-repeat: no-repeat;
        background-position: top center;
      }
    }
  }
}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .panels-layout--full-width-light-dark-light {

    .panel-separator {
      height: $lg-sectioned-inner-spacing;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
