// |--------------------------------------------------------------------------
// | Hero
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node-bc-hero
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// Responsive
$xs-hero-min-height: 300px;
$sm-hero-min-height: 300px;
$md-hero-min-height: 350px;
$lg-hero-min-height: 390px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin node-bc-hero-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.node-bc-hero {

  .node__inner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row--equal-height-columns {
    min-height: $xs-hero-min-height;
  }

  .node__slides {
    display: flex;

    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    padding-left: $boxy-spacing-left-right;
    padding-right: 150px;

    .owl-theme {

      .owl-controls {
        text-align: left;

        .owl-buttons {
          padding-top: 20px;

          div {
            opacity: 1;

            margin: 1px;
            padding: 6px 18px;

            border-radius: 0;

            font-size: 24px;

            background-color: $brand-primary;

            &:after {
              @extend .icon;

              color: #fff;
            }

            &:hover {
              background-color: #fff;

              &:after {
                color: $text-color;
              }
            }
          }

          .owl-prev {

            &:after {
              content: $fa-var-angle-left;
            }
          }

          .owl-next {

            &:after {
              content: $fa-var-angle-right;
            }
          }
        }

        .owl-page {

          span {
            background-color: #fff;
          }

          &.active {

            span {
              background-color: #fff;
            }
          }
        }

        &.clickable {

          .owl-page {

            &:hover {

              span {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .node__slides__heading {
    font-size: $font-size-h3;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight-bold;

    &, a {

      &, &:hover {
        color: #fff;
      }
    }

    + .node__slides__text {
      margin-top: 20px;
      padding-bottom: 20px;
    }
  }

  .node__slides__text {
    color: #fff;
  }

  .node__links {
    display: flex;

    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    .field-item {

      a {
        position: relative;

        display: block;

        padding: 15px 50px 15px 20px;

        font-weight: $headings-font-weight-bold;
        font-size: $font-size-h4;

        background-color: $body-bg-secondary;

        &, &:hover, &:active {
          text-decoration: none;

          color: $text-color;
        }

        &:hover {
          color: #fff;
          background-color: $brand-primary;
        }

        &:after {
          @extend .icon;

          position: absolute;

          top: 18px;
          right: 20px;

          content: $fa-var-angle-right;

          color: inherit;
        }
      }

      + .field-item {
        margin-top: 10px;
      }
    }
  }
}

.sectioned {

  .node-bc-hero {
    margin-top: 0 - $xs-sectioned-inner-spacing;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {

  .sectioned {

    .node-bc-hero {
      margin-top: 0 - $sm-sectioned-inner-spacing;
    }
  }

  .node-bc-hero {

    .row--equal-height-columns {
      min-height: $sm-hero-min-height;
    }
  }
}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {

  .sectioned {

    .node-bc-hero {
      margin-top: 0 - $md-sectioned-inner-spacing;
    }
  }

  .node-bc-hero {

    .row--equal-height-columns {
      min-height: $md-hero-min-height;
    }
  }
}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {

  .sectioned {

    .node-bc-hero {
      margin-top: 0 - $lg-sectioned-inner-spacing;
    }
  }

  .node-bc-hero {

    .row--equal-height-columns {
      min-height: $lg-hero-min-height;
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}