// |--------------------------------------------------------------------------
// | Node
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .node
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin node-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.node {}

.node__image {
  margin-bottom: $grid-gutter-width;

  img {
    width: 100%;
  }
}

.node__preheading {
  display: inline-block;

  padding: 30px $boxy-spacing-left-right;

  background-color: $body-bg-secondary;
}
.node__preheading__title {
  padding: 0;
  margin: 0;

  font-weight: $headings-font-weight-bold;
}

.node__heading {
  margin-bottom: floor( ($grid-gutter-width / 2) );
}
.node__heading__title {
  margin: 0;

  font-weight: $headings-font-weight-bold;
}

.node__intro {
  margin-bottom: floor( ($grid-gutter-width / 3) );

  font-size: 1.125em;
  font-weight: $font-weight-bold;
  .field-item {
    
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
